/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;

  }

  html {
    font-size: 62.5%
  }



  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }


  .main-grid-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 20% 80%;
    overflow: hidden;
  }

  .sidebar {
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr;
    background-color: blue;
    width: 100%;
    height: 100%;
    
  }

  .sidebar-title {
    font-size: 2.5em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    padding: 1.5em 0 0 1.5em;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    width: 90%;
  }

  .sidebar-title img {
    width: 65%;
    height: auto;
  }

  .sidebar-nav {
    grid-row: 2;
    padding-right: 1em;
  }

  .sidebar-tools {
    grid-row: 3;
    width: 100%;
    height: 100%;
  }

  .sidebar-nav li, .sidebar-tools li {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }

  .sidebar-nav img, .sidebar-tools img {
    max-width: 50%;
    height: auto;
    grid-column: 1;
  }


  .sidebar a {
    grid-column: 2;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: 600;
  }

  .sidebar li {
    padding-bottom: 1em;
   
  }

  .sidebar ul, .sidebar a {
    list-style-type: none;
    text-decoration: none; 
  }

  .header {
    background-color: white;
    grid-row: 1;
    grid-column: 2;
    display: grid;
    grid-template-rows: 35% 65%;
    overflow: hidden;
    height: 100%;
    margin: 1em;
  }

  .top-row {
    display: grid;
    grid-template-columns: 75% 25%;
    align-items: center;
    grid-row: 1;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
  }

  .search-bar {
    background-color: lightgrey;
    width: 80%;
    height: 60%;
    border-radius: 20px;
    justify-self: center;
    position: relative;
    
  }

  .search-bar::before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url(magnify.svg);
    background-repeat: no-repeat;
    margin-left: -4em;
  }

  .user-info {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: auto;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    
  }

  .user-info div {
    max-height: 100%;
    max-width: 100%;
    min-height: 0;
    align-content: center;

  }

  .user-info img  {
    height: 70%;
    width: auto;
    object-fit: contain;
  }

  #profile-pic img {
    transform: scale(2.5);
  }

  .bottom-row {
    grid-row: 2;
    min-width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-columns: 75% 25%;

    
  }

  .welcome {
    
    min-width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: max-content 4fr;
    min-height: 0;
    min-width: 0;
    overflow: hidden;
  }



  .welcome div {
    min-height: 0;
    height: 100%;
    width: 100%;
    align-content: center;
  }

  .welcome-text p {
      display: block;
      font-size: 2em;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 800;
  }

  .buttons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 2;
    min-width: 100%;
    min-height: 100%;
    place-items: center;
    gap: 1em;
    padding-right: 1em;
  }

  .buttons-container button {
    width: 100%;
    height: 40%;
    border-radius: 2em;
    background-color: blue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
  }

  .user-name {
    display: block;
  }

  .welcome-img img {
    transform: scale(1.5);
  }

  #user-name {
    color: black;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
  }

  .main-content {
    background-color: lightgrey;
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 100%;
    height: 100%;
    grid-template-rows: min-content 1fr min-content 1fr;
    gap: 1em;
    padding: 3em;
    justify-items: center;
  }

  .your-projects {
    grid-column: 1;
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto repeat(3, 1fr);
    row-gap: 1em;
    column-gap: 3em;
    

  }

  .title {
    grid-column: 1 / -1;
    place-self: start;
  }

  .your-projects div {
    background-color: white;
    border-radius: 1em;
    width: 100%;
    min-height: 100%;
    border-left: 1em solid orange;
    padding: 2em;
    
  }

  .your-projects h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
  }

  .your-projects p {
    color: grey;
    font-size: 1.5em;
    padding-top: 1em;
  }

  .title2 {
    grid-row: 1;
    place-self: start;
    margin-left: 1em;
    
  }

  .announcements {
    grid-column: 2;
    grid-row: 2;
    width: 90%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-color: white;
    align-items: center;
    justify-items: center;
    border-radius: 1em;
    height: 100%;
    padding: 2em;
    
  }

  .announcements div {
    border-bottom: 2px solid grey;
    font-size: 1.2em;
    width: 95%;
    padding-bottom: 1em;
    font-family: Arial, Helvetica, sans-serif;

  }
  .title3 {
    grid-row: 3;
    place-self: start;
    margin-left: 1em;
  }
  .trending {
    grid-column: 2;
    grid-row: 4;
    background-color: white;
    height: 100%;
    width: 90%;
    border-radius: 1em;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    padding: 1em;
  }

  .itsokay {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    align-items: center;

  }

  .itsokay p {
    grid-column: 2;

  }

  .itsokay img {
    width: 75%;
    height: auto;
  }

  .announcements div:last-of-type {
    border-bottom: none;
  }

h2 {
  font-family: Arial, Helvetica, sans-serif;
}