/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }

  html {
    font-size: 62.5%
  }



  .main-grid-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
  }

  .sidebar {
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: 1fr 2fr 3fr;
    background-color: blue;

  }

  .sidebar-title {
    font-size: 2.5em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    padding: 1.5em 0 0 1.5em;
  }

  .sidebar-nav {
    grid-row: 2 / 3;
  }
  .sidebar a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: 600;
  }

  .sidebar li {
    padding-bottom: 1em;
  }

  .sidebar ul, .sidebar a {
    list-style-type: none;
    text-decoration: none; 
  }

  .header {
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 2fr;
  }

  .top-row {
    display: grid;
    grid-template-columns: 3fr 2fr;
    justify-content: space-around;
    align-items: center;
    
  }

  .search-bar {
    background-color: lightgrey;
    width: 80%;
    height: 50%;
    border-radius: 20px;
    justify-self: center;
  }

  .search-bar::before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url(/magnify.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .user-info {
    grid-column: 2;
    justify-self: space-around;
  }

  #user-name {
    color: black;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
  }

  .main-content {
    background-color: lightgrey;
    grid-row: 2;
    grid-column: 2;
  }